/* CSS Reset */

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@font-face {
    font-family: bankgothic;
    src: url('../fonts/bankgothic.ttf');
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}


/* CSS Reset END */

.disableSelection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
}


/* Complete Phone */

.container {
    display: none;
    /* display: block; */
    position: absolute;
    bottom: -70%;
    /* bottom: 0%; */
    right: 5vh;
}


/*  */

.phone-currentcall-container {
    display: none;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    height: 5vh;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.65);
    top: 37vh;
    z-index: 99;
    transition: background-color .1s linear;
    border-radius: 3vh;
    animation: pulse 2s infinite;
}

.phone-currentcall-container:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.phone-currentcall-icon {
    position: absolute;
    top: 1.2vh;
    left: 1.3vh;
    font-size: 1.9vh;
    color: white;
    transform: rotate(90deg);
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

.phone-currentcall-title {
    position: absolute;
    top: 1vh;
    left: 4vh;
    font-size: 1.1vh;
    color: white;
    font-family: 'Samsung Sans Regular';
}

.phone-currentcall-contact {
    position: absolute;
    bottom: 1vh;
    left: 4vh;
    font-size: 1vh;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Samsung Sans Regular';
}


/* Phone Container */

.phone-frame {
    position: absolute;
    width: 30vh;
    bottom: 12vh;
    right: -6vh;
    margin: 5vh;
    z-index: 150;
    pointer-events: none;
    transform: scale(0.96);
}

.phone-container {
    height: 61.7vh;
    width: 26.9vh;
    bottom: 13vh;
    border-radius: 3vh;
    right: -4.4vh;
    margin: 5vh;
    overflow: hidden;
    position: absolute;
    transform: scale(0.96);
}

.phone-background {
    background-image: url('../img/backgrounds/background-1.png');
    background-size: cover;
    background-position-y: 1.05vh;
    background-position-x: center;
    background-repeat: no-repeat;
}


/* Phone Container END */


/* -------------------------- */


/* Phone Header */

.phone-header {
    width: 100%;
    height: 5vh;
    z-index: 141;
    position: absolute;
    color: white;
}

#phone-time {
    font-family: Font-1;
    font-size: 1.3vh;
    padding: 2.3vh 0 0 1.3vh;
    float: left;
}

#phone-icons {
    font-family: Font-1;
    font-size: 0.95vh;
    padding: 2.5vh 2vh 0 0vh;
    float: right;
}

#phone-signal {
    font-size: 1vh;
    left: -0.3vh;
    position: relative;
}

#phone-battery {
    transform: rotate(-90deg);
    top: -0.1vh;
    position: relative;
}


/* Phone Header END */


/* -------------------------- */


/* Phone Application Contanier */

.phone-application-container {
    display: none;
    /* display: block; */
    top: -160%;
    /* top: 0; */
    position: absolute;
    height: 96%;
    width: 100%;
    background-color: rgb(65, 65, 65);
    z-index: 100;
}


/* Phone Application Container END */


/* -------------------------- */


/* Phone Footer */

.phone-footer {
    position: absolute;
    bottom: -24px;
    height: 3vh;
    width: 100%;
}

.phone-home-container {
    position: relative;
    height: 2.3vh;
    width: 12.2vh;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    top: 2vh;
    transform: translateY(-50%);
    border-radius: 0.8vh;
    transition: .15s;
    z-index: 500;
}

.phone-home-container:hover {
    background-color: rgba(0, 0, 0, 0.45);
    width: 15.2vh;
}

.phone-home-container:hover .phone-home-button {
    background-color: rgba(255, 255, 255, 0.95);
}

.phone-home-button {
    position: relative;
    height: 0.8vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 0.8vh;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    transition: .1s;
    box-shadow: 0 0 5px white;
}


/* Phone Footer END */


/* Home Applications */

.phone-applications {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
}

.phone-application {
    position: relative;
    height: 5.2vh;
    width: 5.2vh;
    left: 1vh;
    float: left;
    margin-right: 0.5vh;
    margin-left: 0.5vh;
    margin-top: 0.5vh;
    border-radius: 5px;
    text-align: center;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.13);
    opacity: 0.9;
    transition: ease-in-out 0.3s;
}

.phone-application i {
    color: black !important;
}

.phone-application:hover {
    opacity: 1.0;
    transform: scale(1.05);
    transition: ease-in-out 0.3s;
}

.phone-footer-applications {
    position: absolute;
    width: 100%;
    bottom: 7vh;
}

.phone-home-applications {
    position: absolute;
    width: 100%;
    bottom: 32vh;
}

.phone-application>i {
    line-height: 4.9vh;
    font-size: 3vh;
}

.ApplicationIcon {
    color: white;
}


/* Home Applications END */


/* Phone Notification */

.phone-notification-container {
    position: absolute;
    height: 5.5vh;
    width: 23vh;
    background-color: rgb(0 0 0 / 90%);
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -8%;
    border-radius: 5px;
    overflow: hidden;
    z-index: 140;
    box-shadow: 0 0 10px black;
}

.notification-icon {
    position: absolute;
    height: 100%;
    width: 5vh;
    text-align: center;
    line-height: 5.7vh;
    color: #e74c3c;
    font-size: 2.5vh;
}

.notification-title {
    position: absolute;
    top: 1vh;
    left: 4.5vh;
    font-size: 1.1vh;
    font-family: 'Samsung Sans Regular';
    color: #ffffff;
}

.notification-text {
    position: absolute;
    top: 2.7vh;
    left: 4.5vh;
    font-size: 1vh;
    font-family: 'Samsung Sans Regular';
    color: rgb(255, 255, 255);
    width: 16vh;
    overflow: hidden;
}


/* Phone Notification END */

.call-notifications {
    display: none;
    position: absolute;
    background: #000000;
    height: 3vh;
    width: 28vh;
    bottom: 10vh;
    right: 5vh;
    border-radius: 5px;
    z-index: -5;
    box-shadow: 0 0 20px black;
}

.call-notifications-shake {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.screen-notifications-container {
    display: none;
    position: absolute;
    background: #000000b0;
    height: 7vh;
    border-radius: 5px;
    box-shadow: 0 0 20px black;
    width: 34vh;
    bottom: 5vh;
    right: -35vh;
    z-index: -5;
}

.screen-notification-icon {
    position: absolute;
    line-height: 7.3vh;
    left: 2vh;
    font-size: 3.75vh;
    color: white;
}

.screen-notification-title {
    position: absolute;
    line-height: 5.5vh;
    left: 7.5vh;
    font-size: 1.5vh;
    color: white;
    font-family: 'Samsung Sans Bold';
}

.screen-notification-content {
    position: absolute;
    top: 4vh;
    left: 7.5vh;
    font-size: 1.2vh;
    color: white;
    font-family: 'Samsung Sans Medium';
    height: 3.5vh;
    width: 26vh;
    overflow: hidden;
}

.call-notifications-icon {
    position: absolute;
    line-height: 3vh;
    left: 1vh;
    font-size: 1.35vh;
    color: white;
    transform: rotate(90deg);
}

.call-notifications-title {
    position: absolute;
    line-height: 2vh;
    left: 0;
    font-size: 1.4vh;
    width: 100%;
    top: -2.5vh;
    border-bottom: 1px solid white;
    color: white;
    font-family: bankgothic;
}

.call-notifications-content {
    position: absolute;
    top: 0.7vh;
    left: 3.2vh;
    font-size: 1.2vh;
    color: white;
    font-family: 'Quicksand', sans-serif;
    height: 1.5vh;
    width: 25vh;
    overflow: hidden;
}

.app-unread-alerts {
    position: absolute;
    width: 2vh;
    height: 2vh;
    top: -.5vh;
    left: -.5vh;
    color: white;
    text-align: center;
    line-height: 2vh;
    background: #d63031;
    border-radius: 50%;
    font-family: 'Samsung Sans Bold';
    font-size: 1.1vh;
}

.emergency-button {
    position: absolute;
    right: 3vh;
    top: 10vh;
    width: 33vh;
    height: 20vh;
    background-color: #004682;
    /* border: .1vh solid #002f5831; */
    border-radius: 1vh;
    overflow: hidden;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.199);
}

.emergency-button-header {
    position: absolute;
    background-color: #ffffff;
    height: 3.5vh;
    top: 0;
    width: 100%;
}

.emergency-button-footer {
    position: absolute;
    background-color: #ffffff;
    height: 2.5vh;
    bottom: 0;
    width: 100%;
}

.police-logo-2 {
    position: absolute;
    width: 6vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: .5vh;
}

.police-logo-3 {
    position: absolute;
    width: 15vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
}