body {
  color: white;
  font-family: "Poppins", sans-serif !important;
  font-size: 14px;
}

.radio {
  position: absolute;
  bottom: 250px;
  right: 80px;
  width: 200px;
  height: 438px;
  /* width: 272px; */
  /* height: 596px; */
}

.container {
  position: absolute;
  bottom: 290px;
  right: 95px;
  width: 150px;
  height: 300px;
}

#actual-freq {
  font-size: 40px;
  color: #46ea46;
}

.key {
  width: 20px;
  height: 20px;
  background: #ffffffaa;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  color: black;
  font-size: 13px;
  display: inline-block;
  border-radius: 5px;
}

.title {
  font-size: 10px;
  font-weight: 900;
  padding-bottom: 4px;
}

.text-key {
  font-size: 7px;
  word-break: break-word;
}

.container > span > * {
  display: inline-block;
}

.container span {
  display: blocK;
  margin-bottom: 2px;
}

.color-red {
  color: rgb(211, 81, 81);
}

.color-green {
  color: #6daf6d;
}
